/* CSS HEX */
/* --black: #000000ff;
--color-altLight: #6683AEff;
--black-2: #000000ff;
--color-light: #EFEEEEff;
--color-dark: #5D1649ff;
--color-accent: #A21E87ff;

/* SCSS RGB */
/* $black: rgba(0, 0, 0, 1);
$tyrian-purple: rgba(93, 22, 73, 1);
$violet-crayola: rgba(162, 30, 135, 1);
$glaucous: rgba(102, 131, 174, 1);
$cultured: rgba(239, 238, 238, 1);
$black-2: rgba(0, 0, 0, 1); 

    --color-light: #FFFFC7;
    --color-dark: #473335;
    --color-accent: #548687;
    --color-altDark:#B0413E;
    --color-altLight: #FCAA67;
*/ 



* {
    box-sizing: border-box;
}
:root{
    --ff-primary: 'Inter', sans-serif;
    --ff-secondary: 'Source Code Pro', monospace;
    --fw-reg: 300;
    --fw-bold: 900;

    --color-light: #EFEEEEff;
    --color-dark: #5D1649ff;
    --color-altLight: #A21E87ff;
    --color-altDark: #473335;
    --color-accent: #6683AEff;

    --fs-h1: 3rem;
    --fs-h2: 2.25rem;
    --fs-h3: 1.25rem;
    --fs-body: 1rem;


    --boxshad: .25em .25em .75em rgba(0,0,0,.25),
               .125em .125em .25em rgba(0,0,0,.15);

}

/* major container element layout */
html{
    scroll-behavior: smooth;
}
header{
    display: flex;
    justify-content: space-between;
    max-height: 125px;
    padding: 1em;
    border-bottom:1px solid var(--color-dark);
}
body{
    font-family: var(--ff-primary);
    font-size: var(--fs-body);
    background: var(--color-light);
    color: var(--color-dark);
    margin: 0;
    padding: 0;
    line-height: 1.6;

}
section{
    padding: 4rem 2rem;
    /* margin-top: 2rem; */
    /* margin-bottom: 3rem; */
}

img{
    max-width: 100%;
    max-height: 100%;
}

.btn{
    background-color: var(--color-accent);
    color: var(--color-light);
    padding: .75em 1.75em;
    text-decoration: none;
    font-weight: var(--fw-bold);
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: transform 200ms ease-in-out;
    display: inline-block;
    margin: 2em;
}

.btn:hover {
    transform: scale(1.1);
}
.btn:focus,
.portfolio__item:focus{
    outline: 3px solid var(--color-altDark);
    outline-offset: 3px;
}


/* nav section */
nav{
    position: fixed;
    background-color: var(--color-dark);
    color: var(--color-light);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;

    transform: translateX(100%);
    transition: transform 250ms ease-in-out;
}
.nav-open .nav{
    transform: translateX(0%);
}

.nav__list{
    display: flex;
    list-style: none;
    height: 100%;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: 0;
    padding: 0;
}
.nav__link{
    color: inherit;
    font-size: var(--fs-h2);
    font-weight: var(--fw-bold);
    text-decoration: none;
}
.nav__link:hover,
.nav__link:focus{
    opacity: .7;
}

.nav-toggle{
    border: none;
    position: relative;
    right: 1em;
    top: 0;
    padding: 1em 1.15em;
    font-size: var(--fs-h3);
    cursor: pointer;
    z-index: 1000;
}
.nav-toggle,
.hamburger{
    background: var(--color-light);
    cursor: pointer;
}
.hamburger:hover,
.hamburger:focus,
.nav-toggle:focus{
    color: var(--color-altLight);
    /* outline: none; */
}
.nav-open .nav-toggle{
    position: fixed;
    top: 1em;
    right: 1.8em;
    border-radius: 50%;
}
.logo img{
    object-fit: cover;
    width: 200px;
}

/* intro section */
.intro__img,
.about__img{
    box-shadow: var(--boxshad);
    width: 50vw;
    margin-left: 25%;
    margin-right: 25%;
}
.subtitle{
    margin-bottom: 1em;
}

/* services section */
.services{
    background-color:var(--color-dark);
    color: var(--color-light);
    background-image: url(img/whozielogo-glasses.png);
    background-image: url(https://images.unsplash.com/photo-1656414422831-e8ca6ef045b6?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1974&q=80);
    background-size: cover;
    background-position: center;
    background-blend-mode:darken;
    padding: 3em;
    text-align: center;

}
.services__title{
    color: var(--color-accent);
    font-weight: var(--fw-bold);
    position: relative;
}
.services__title::after{
    content: '';
    display: block;
    width: 3em;
    height: 1px;
    margin: 0.5em auto 1em auto;
    background: var(--color-light);
    opacity: .3;
}
.service__name{
    font-size: var(--fs-body);
    letter-spacing: 1px;
    font-weight: var(--fw-bold);
    margin-bottom: .5em;
}
.service__description{
    font-weight: var(--fw-reg);
    opacity: .7;
}
.service{
    margin-bottom: 2em;
}

/* about me section */
.aboutme{
    margin-left: auto;
    margin-right: auto;
    max-width: 1000px;
}
.about__subtitle{
    margin-top: 1rem;
}
.about__body{
    padding: 0 1em 1em 2em;
}

/* portfolio section */
.work{
    background: var(--color-dark);
    color: var(--color-accent);
    text-align: center;
}
.work__subtitle{
    text-transform: capitalize;
    color: var(--color-light);
    /* width: 40%; */
    margin: .75em auto 2em auto;
}
.portfolio__img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
    overflow: hidden;
}
.portfolio{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1em;
    justify-items: center;
}
.portfolio__item{
    width: 300px;
    height: 300px;
    background: var(--color-altDark);
}
.portfolio__img:hover,
.portfolio__item:focus{
    opacity: .5;
}

/* footer */
footer{
    background-color: #111;
    color: var(--color-accent);
    text-align: center;
    padding: 2.5em 0;
    font-size: var(--fs-h3);
}
.social__list{
    width: 50%;
    max-width: 600px;
    list-style: none;
    display: flex;
    justify-content: space-between;
    margin: 1.5em auto;
    padding: 0;
}
.social__item{
    margin: 0 .5em;
}
footer a,
.footer__link{
    color: inherit;
    text-decoration: none;
}
.fa-brands:hover,
.footer__link:hover{
    opacity: .7;
}
.fa-brands{
    color: inherit;
}

/* typography */
h1,
h2,
h3{
    line-height: 1.1;
    margin: 0;
}
h1{  font-size: var(--fs-h1);  }
h2{  font-size: var(--fs-h2);  }
h3{  font-size: var(--fs-h3);  }

p{
    margin: 0;
}
strong{
    font-weight: var(--fw-bold);
}
.title{
    font-size: var(--fs-h2);
    margin-bottom: .25em;
    font-weight: var(--fw-reg) ;
}
.subtitle{
    font-size: var(--fs-h3);
    background-color: var(--color-accent);
    font-family: var(--ff-secondary);
    padding: .25em 1em;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.about__subtitle,
.work__subtitle{
    text-transform: none;
}

/* Media Queries */
@media(min-width: 600px){
    .intro{
        width: min-content;
        margin: 0 auto;
        display: grid;
        grid-template-areas: 
        "img title"
        "img subtitle";
        grid-template-columns: min-content max-content;
        grid-column-gap: 1em;
    }
    .intro__img{
        grid-area: img;
        min-width: 200px;
        object-fit: cover;
        max-height: 225px;
        margin: 0;
    }
    .intro__title{
        margin-left: 2rem;
    }
    
    .intro__subtitle{
        grid-area: subtitle;
        text-align: right;
        align-self: start;
        grid-column: -1 / 1;
        position: relative;
        left: -2em;
        z-index: -1;
    }
    .aboutme{
        display: grid;
        grid-template-columns: 1fr 200px ;
        grid-template-areas: 
            "title img"
            "subtitle img"
            "body img";
        /* width: min-content; */
        position: relative;
    }
    .about__subtitle{
        grid-area: subtitle;
        align-self: start;
        grid-column: 1 / -1;
        width: calc(100% + 1em);
        padding-left: 1em;
        padding-right: calc(200px + 1em);
        position: relative;
        left: -1em;
        z-index: -1;
    }
    .aboutme img{
        grid-area: img;
        position: relative;
        left: -2em;
    }
    .about__body{
        grid-area: body;
    }
    .about__description{
        margin: auto 4em 1em 0;
    }
    .about__description:last-child{
        margin-bottom: 0;
    }
}

@media(min-width: 800px){
    :root{
        --fs-h1: 4.5rem;
        --fs-h2: 3.75rem;
        --fs-h3: 1.5rem;
        --fs-body: 1.125rem;
    }
    .intro__img{
        align-self: end;
    }
    .services__list{
        /* width: 75%; */
        margin: 0 auto;
        display: flex;
        /* align-items: center; */
        /* justify-content: space-around; */
        max-width: 1000px;
        gap: 2em;
    }
    .service{
        text-align: left;
    }
    .work__subtitle{
        width: calc(100%-6rem);
        max-width: 800px;
        margin: .75em auto 2em auto;
    }
    .work{
        padding-bottom: 8rem;
    }
    .portfolio{
        padding-top: 3rem;
    }
    .portfolio-item__individual{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
        "keys highlights"
        "img img"
        "link .";
    }
    
    
}
@media (min-width: 1200px) {
    .intro, 
    .services,
    .aboutme,
    .work{
        padding-top: 8rem;
        padding-bottom: 8rem;
    }
}
.portfolio-item__individual{
    padding: 0 2em 2em;
    max-width: 1000px;
    margin: 0 auto;
}
.portfolio-item__individual p{
    max-width: 750px;
    margin-left: auto;
    margin-right: auto;
}
aside{
    margin-left: 1em;
    margin-bottom: 1em;
    font-size: small;
}
.img__wide{
    /* height: 100%; */
    margin: 4rem auto;
    grid-area: img;
}
#projectLink{
    margin-top: 3rem;
    grid-area: link;
}
.portfolio-item__keys{
    grid-area: keys;
}
